<footer>
    <div id="footer-menu">
        <p>Contact me</p>
        <div id="footer-contact-me">
            <form id="contactForm" method="post">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" placeholder="Subject"></input>

                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Write something.."></textarea>

                <input type="button" value="Submit" onclick="sendMail()">

            </form>
        </div>
    </div>
    <div id="footer-socials">
        <p>Socials</p>
        <ul>
            <li><a href="https://www.instagram.com/sron_space/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/company/sron/">LinkedIn</a></li>
            <li><a href="https://github.com/DiegoR03">Github</a></li>
        </ul>
    </div>
    <p>© 2025 Diego Ramon. All rights reserved.
        <a href="javascript:void(0);" onclick="scrollToSection('IntroductionSection')">Introduction</a>
        <a href="javascript:void(0);" onclick="scrollToSection('ExperienceSection')">Experience</a>
        <a href="javascript:void(0);" onclick="scrollToSection('SkillsSection')">Skills</a>
        <a href="javascript:void(0);" onclick="scrollToSection('ProjectsSection')">Projects</a>
        <a href="javascript:void(0);" onclick="scrollToSection('footer-menu')">Contact</a>
    </p>
</footer>