<header>
    <nav>
        <div id="nav-container">
            <div id="logo-container">
                <a href="javascript:void(0);" onclick="scrollToSection('IntroductionSection')">
                    <img id="Logo" src="/assets/img/LogoDR.png" alt="Logo of Diego Ramon's Website. Its an abstract strcutre of the letter D and R fused into one. De R is backwards while its back it fused into the back of the letter D.">
                </a>
                <h2>Diego Ramon</h2>
            </div>
            
            <ul>
                <li><a href="javascript:void(0);" onclick="scrollToSection('IntroductionSection')">Introduction</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('ExperienceSection')">Experience</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('SkillsSection')">Skills</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('ProjectsSection')">Projects</a></li>
                <li><a href="javascript:void(0);" onclick="scrollToSection('footer-menu')">Contact</a></li>
            </ul>
            <div style="display: flex; align-items: center; width: auto;">
                <button id="lightModeToggleButton" onclick="toggleLightMode()">⏾</button>
                <a href="javascript:void(0);" class="icon" onclick="navResize()">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </nav>
</header>